$cell-dim: 40px;
$primary:  #4baa9b;
$primary-dark: #358377;

.container {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    font-family: Montserrat;

    display: flex;
    flex-direction: row;

    .latir {
        max-height: $cell-dim * 3;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;

        &__logo {
            max-height: $cell-dim * 3;
            margin: 0 auto;
        }
    }

    &__controls {
        margin: 16px;
        width: 300px;
        position: relative;

        &__button {
            margin: 0px 8px;
            font-family: Montserrat;
            font-size: 16px;
            background-color: $primary;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;

            &:hover {
                background-color: $primary-dark;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &__verification {
        margin: 16px 0;
        &__input {
            margin: 0;
            border-radius: 8px;
            border: 1px solid gray;
            padding: 14px;
            
            &:focus {
                outline: none;
                border-color: $primary;
            }
        }
    }
}